img {
  height: 200px;
  width: 200px;
  background-image: center;
}
h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
body {
	background-color: #ffb6c1;
}
.pink {
	background-color: #ff1493;
   display: block;
    width: 30vw;
	height: 30vh;
    padding: 10px;
	margin: 10px;
}
.yellow {
	background-color: #ffff00;
	display: block;
  width: 30vw;
	height: 30vh;
    padding: 10px;
	margin: 10px;
}
.purple {
background-color: #3633FF;
display: block;
  width: 30vw;
 height: 30vh;
padding: 10px;
margin: 10px;
}
.brown {
background-color: #A12222; 
display: block;
  width: 30vw;
  height: 30vh;
padding: 10px;
margin: 10px;
}
.orange {
background-color: #FF6600;
display: block;
  width: 30vw;
	height: 30vh;
padding: 10px;
margin: 10px;
}
.blue {
background-color: #003399;
display: block;
  width: 30vw;
	height: 30vh;
padding: 10px;
margin: 10px;
}
.red {
 background-color: #CC0000;
 display: block;
  width: 30vw;
	height: 30vh;
padding: 10px;
margin: 10px;
}
.green {
 background-color: #339900;
 display: block;
  width: 30vw;
height: 30vh;
padding: 10px;
margin: 10px;
}
.container {
	display: flex;
}
@media screen and (max-width: 700px) {
	body {
	display: block;
	}
	.green {
		width: 15vw;
		height: 15vh;
	}
	.purple {
	width: 15vw;
		height: 15vh;
	}		
	@media screen and (max-width: 700px) {
	body {
		background-color: #cbdaf2;
		}
.orange {
		width: 30vw;
		height: 30vh;
		display: block;
		}
	.blue {
		width: 15vw;
		height: 15vh;
		display: block;
		}
	}
		
	@media screen and(max-width: 500px) {
		body {
			display:flex;
	                float: top;
		}
	}
		



