img {
  height: 200px;
  width: 200px;
  background-image: center;
}
h1 {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
body {
	background-color: #ffb6c1;
}
.pink {
	background-color: #ff1493;
	 background-image: url("raw12.Png");
   display: block;
    width: 30vw;
	height: 35vh;
    padding: 10px;
	margin: 10px;
}
.yellow {
	background-color: #ffff00;
	 background-image: url("Untitled-5.Png");
	display: block;
  width: 30vw;
	height: 35vh;
    padding: 10px;
	margin: 10px;
}
.purple {
background-color: #3633FF;
	 background-image: url("Untitled-4.png");
display: block;
  width: 30vw;
 height: 35vh;
padding: 10px;
margin: 10px;
}
.brown {
background-color: #A12222;
background-image: url("raw8.png");
display: block;
 width: 30vw;
height: 35vh;
padding: 10px;
margin: 10px;
}
.orange {
background-color: #FF6600;
background-image: url("raw9.png");
display: block;
width: 30vw;
height: 35vh;
padding: 10px;
margin: 10px;
}
.blue {
background-color: #003399;
background-image: url("Untitled-3.png");
display: block;
  width: 30vw;
height: 35vh;
padding: 10px;
margin: 10px;
}
.red {
 background-color: #CC0000;
 display: block;
  width: 30vw;
height: 35vh;
padding: 10px;
margin: 10px;
}
.green {
 background-color: #339900;
 display: block;
 width: 30vw;
height: 35vh;
padding: 10px;
margin: 10px;
}
.header {
    padding: 1.0121457489878542510121457489879%;
    background-color: #f4edf2;
    border: 1px solid #e9e9e9;
}
.container {
	display: flex;
}
@media screen and (max-width: 700px) {
	body {
	display: block;
	}
	.green {
		width: 15vw;
		height: 15vh;
	}
	.purple {
	width: 15vw;
		height: 15vh;
	}
@media (max-width:800px) {
  .green, .pink, .blue {
    width:50%;
  }
	@media screen and (max-width: 700px) {
	body {
		background-color: #cbdaf2;
		}

	}
@media screen and (max-width: 400px) {		
	display: inline-block;
	background-color: #fff98e;
	}
	}
	
		



